
<style>
    body{padding:10px;}
    .pick-area{display: inline-block;}
    .a{float:left;width:100%;margin:10px;}
    .a a{float:left;margin:10px;}
    .a input{float:left;width:400px;padding:10px;margin:10px;outline-color: gold;}
    h1{text-align: center;}
    h3{margin:5px;color:#333;}
    h4{margin:5px;color:#666;padding:0 20px;font-weight: 100;}
    .blank{float:left;width:50%;height:400px;background:cyan;border-top:1px solid #333;margin-top:50px;}
    .blank2{float:left;width:50%;height:400px;background:lightpink;border-top:1px solid #333;padding-top:50px;}
    .box{width:100%;overflow: hidden;background:lightgreen;}
</style>
<div class="col-sm-12">
    <div class="">
        <form action="" class="form-horizontal">
            {:token_field()}
            <input type="hidden" name="cate_id" value="{$id}">
            <div class="form-group">
                <label class="col-sm-2 control-label">该分类是否可以添加产品</label>
                <div class="col-sm-8">
                    <select class="form-control m-b" name="is_open">
                        <option value="0" {if isset($data.is_open) && $data.is_open == 0} selected {/if}>否</option>
                        <option value="1" {if isset($data.is_open) && $data.is_open == 1} selected {/if}>是</option>
                    </select>
                </div>
            </div>
            <div id="content"  {if isset($data.is_open) && $data.is_open == 0} style="display: none;" {/if}>
                <div class="form-group">
                    <label class="col-sm-2 control-label">产品数量类型</label>
                    <div class="col-sm-8">
                        <select class="form-control m-b" name="type">
                            <option value="1" {if isset($data.type) && $data.type == 1} selected {/if}>单个</option>
                            <option value="2" {if isset($data.type) && $data.type == 2} selected {/if}>多个</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">最多选择数量</label>
                    <div class="col-sm-8">
                        <input name="select_max_sum" value="{$data.select_max_sum ?? 1}" placeholder="如数量为单个则 填写 1" required  type="text" class="form-control">

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">产品是否影厅内的</label>
                    <div class="col-sm-8">
                        <select class="form-control m-b" name="is_screen">
                            <option value="0" {if isset($data.is_screen) && $data.is_screen == 0} selected {/if}>否</option>
                            <option value="1" {if isset($data.is_screen) && $data.is_screen == 1} selected {/if}>是</option>
                            <option value="2" {if isset($data.is_screen) && $data.is_screen == 2} selected {/if}>可选</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">是否开启级别</label>
                    <div class="col-sm-8">
                        <select class="form-control m-b" name="is_level">
                            <option value="0" {if isset($data.is_level) && $data.is_level == 0} selected {/if}>否</option>
                            <option value="1" {if isset($data.is_level) && $data.is_level == 1} selected {/if}>是</option>
                        </select>
                    </div>
                </div>

                <div id="level" class="form-group" {if $data.is_level == 0} style="display: none;" {/if}>
                <label class="col-sm-2 control-label"><a class="btn btn-info" onclick="add_level()">添加级别</a></label>
                <div class="col-sm-8" id="level_list">
                    {foreach $level as $k => $v}
                    <div class="lv">
                        <input type="hidden" name="old_level_id[]" value="{$v.id}">
                        <input name="old_level_name[]" placeholder="级别名称" style="display:inline;width:80%;margin-bottom: 20px;" value="{$v.level_name}" required  type="text" class="form-control">
                        <a href="javascript:void(0);" onclick="close_level(this)">
                            <i class="glyphicon glyphicon-remove"></i>
                        </a>
                    </div>
                    {/foreach}
                </div>
            </div>
            </div>


            <div class="form-group">
                <label class="col-sm-3 control-label"></label>
                <div class="col-sm-5">
                    <button type="button" class="btn btn-w-m btn-success" onclick="save()">提交</button>
                </div>
            </div>
        </form>
    </div>

</div>

<script>

    $('select[name=is_level]').change(function(){
        if ($(this).val() == 1){
            $('#level').css('display','block')
        }else{
            $('#level').css('display','none')
        }
    })

    $('select[name=is_open]').change(function(){
        if ($(this).val() == 1){
            $('#content').css('display','block')
        }else{
            $('#content').css('display','none')
        }
    })

    var add_level = function(){

        var html = '<div class="lv">' +
            '                        <input name="level_name[]" placeholder="级别名称" style="display:inline;width:80%;margin-bottom: 20px;" value="" required  type="text" class="form-control">' +
            '                        <a href="javascript:void(0);" onclick="close_level(this)">' +
            '                            <i class="glyphicon glyphicon-remove"></i>' +
            '                        </a>' +
            '                    </div>'

        $('#level_list').append(html)
        return false;
    }

    var close_level = function(_this){
        $(_this).parents('.lv').remove();
    }


    var save = function(){

        var formData = new FormData($('form')[0]);

        $.ajax({
            url: "{:url('save')}",
            type: 'post',
            dataType: 'json',
            data: formData,
            processData: false,
            contentType: false,
            success: function (data) {
                if (data.code == 0) {
                    layer.msg(data.msg, {icon: 5})
                } else {
                    layer.msg('提交成功', {icon: 1})
                    getHtml($('input[name=cate_id]').val())
                }
            }
        })
    }
</script>
