{include file="common/source"}
<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            </div>
        <div class="ibox-content">
            <div class="example">

                <table class="table table-bordered table-hover text-center fz13">
                    <thead>
                    <tr class="text-center">
                        <th style="text-align: center;">影院名称</th>
                        <th style="text-align: center;">所在地区</th>
                        <th style="text-align: center;width:180px;">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {foreach $data as $key=>$value}
                    <tr>
                        <td style="text-align: center;">{$value.name}</td>
                        <td>{$value.province}</td>
                        <td>
                            <div class="btn-group">
                                <button data-toggle="dropdown" class="btn btn-primary btn-xs dropdown-toggle" aria-expanded="false">更多 <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="{:url('info',['id'=>$value.id])}">查看详情</a>
                                    </li>
                                    <li><a href="{:url('CinemaProduct/index',['cinema_id'=>$value.group_code])}">查看产品</a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    {/foreach}
                    </tbody>
                </table>
            </div>
            <div style="text-align: center">
                {$data|raw}
            </div>
        </div>
    </div>
</div>
</div>
</div>
</body>