{include file="common/source"}
<div class="col-sm-12">
    <div class="ibox-content">
        <form action="" class="form-horizontal">
            {:token_field()}
            <input type="hidden" name="id" value="{$data.id}">
            <div class="form-group">
                <label class="col-sm-2 control-label">影厅名称</label>
                <div class="col-sm-8">
                    <input name="name" required value="{$data.name}" type="text" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">座位数量</label>
                <div class="col-sm-8">
                    <input name="seat_sum" required value="{$data.seat_sum}" type="text" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">排序</label>
                <div class="col-sm-8">
                    <input name="sort" required value="{$data.sort}" placeholder="从0开始,越大级别越高,最大999" type="text" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label"></label>
                <div class="col-sm-5">
                    <button type="button" class="btn btn-w-m btn-success" onclick="save()">提交</button>
                </div>
            </div>
        </form>
    </div>

</div>

<script>

    var save = function () {
        var formData = new FormData($('form')[0]);

        $.ajax({
            url: "{:url('update')}",
            type: 'post',
            dataType: 'json',
            data: formData,
            processData: false,
            contentType: false,
            success: function (data) {
                if (data.code == 0) {
                    layer.msg(data.msg, {icon: 5})
                } else {
                    layer.msg('提交成功', {icon: 1});
                    setTimeout(function () {
                        window.location.href = "{:url('index')}";
                    }, 600)
                }
            }
        })
    }
</script>
