{include file="common/source"}
<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
                <button type="button" onclick="window.location.href='{:url('add')}'"
                        class="btn btn-w-m btn-primary">添加影厅
                </button>
        </div>    
        <div class="ibox-content">
            <div class="example">

                <table class="table table-bordered table-hover text-center fz13">
                    <thead>
                    <tr class="text-center">
                        <th style="text-align: center;">影厅名称</th>
                        <th style="text-align: center;">座位数</th>
                        <th style="text-align: center;">排序</th>
                        <th style="text-align: center;">创建时间</th>
                        <th style="text-align: center;width:180px;">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {foreach $list as $key => $value}
                    <tr>
                        <td>{$value.name}</td>
                        <td>{$value.seat_sum}</td>
                        <td>{$value.sort}</td>
                        <td>{$value.create_time|date="Y-m-d H:i:s"}</td>
                        <td>
                            <button onclick="window.location.href='{:url('edit',['id'=>$value.id])}'" class="btn btn-info btn-xs" type="button"><i class="fa fa-paste"></i> 编辑</button>
                            <button onclick="removeArticle(this,'{$value.id}')" class="btn btn-danger btn-xs" type="button"><i class="fa fa-remove"></i> <span class="bold">删除</span></button>
                        </td>
                    </tr>

                    {/foreach}
                    </tbody>
                </table>
            </div>
            <div>
                {$list->render()|raw}
            </div>
        </div>
    </div>
</div>
</div>
</div>
</body>
<script>

    var removeArticle = function (_this, article_id) {
        $.ajax({
            url: "{:url('delete')}",
            type: 'post',
            dataType: 'json',
            data:{
                id : article_id,
            },
            success: function (data) {
                console.log(data)
                if (data.code == 0) {
                    layer.msg(data.msg,{icon: 5})
                } else {
                    layer.msg('删除成功',{icon : 1})
                    $(_this).parents('tr').remove();
                }

            }
        })
    }
</script>