{include file="common/source"}
<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
                <button type="button" onclick="window.location.href='{:url('add')}'"
                        class="btn btn-w-m btn-primary">添加菜单
                </button>
        </div>    
        <div class="ibox-content">
            <div class="example">

                <table class="table table-bordered table-hover text-center fz13">
                    <thead>
                    <tr class="text-center">
                        <th style="text-align: center;">菜单名称</th>
                        <th style="text-align: center;">控制器</th>
                        <th style="text-align: center;">方法名</th>
                        <th style="text-align: center;">排序</th>
                        <th style="text-align: center;width:180px;">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {foreach $list as $key => $value}
                    <tr>
                        <td style="text-align: left;">{$value.title}</td>
                        <td style="text-align: left;">{$value.controller}</td>
                        <td style="text-align: left;">{$value.action}</td>
                        <td>{$value.order}</td>
                        <td>
                            <button onclick="window.location.href='{:url('edit',['id'=>$value.id])}'" class="btn btn-info btn-xs" type="button"><i class="fa fa-paste"></i> 编辑</button>
                            <button onclick="removeArticle(this,'{$value.id}')" class="btn btn-danger btn-xs" type="button"><i class="fa fa-remove"></i> <span class="bold">删除</span></button>
                        </td>
                    </tr>
                    {if isset($value.children)}
                    {foreach $value.children as $key => $value}
                    <tr>
                        <td style="text-align: left;">----{$value.title}</td>
                        <td style="text-align: left;">{$value.controller}</td>
                        <td style="text-align: left;">{$value.action}</td>
                        <td>{$value.order}</td>
                        <td>
                            <button onclick="window.location.href='{:url('edit',['id'=>$value.id])}'" class="btn btn-info btn-xs" type="button"><i class="fa fa-paste"></i> 编辑</button>
                            <button onclick="removeArticle(this,'{$value.id}')" class="btn btn-danger btn-xs" type="button"><i class="fa fa-remove"></i> <span class="bold">删除</span></button>
                        </td>
                    </tr>
                    {/foreach}
                    {/if}
                    {/foreach}
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
</div>
</div>
</body>
<script>

    var removeArticle = function (_this, article_id) {
        $.ajax({
            url: "{:url('delete')}",
            type: 'post',
            dataType: 'json',
            data:{
                cate_id : article_id,
            },
            success: function (data) {
                if (data.code == 0) {
                    layer.msg(data.msg,{icon: 5})
                } else {
                    layer.msg('删除成功',{icon : 1})
                    $(_this).parents('tr').remove();
                }

            }
        })
    }
</script>