{include file="common/source"}
<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox-title">
                    <h5>修改新闻类别 <small></small></h5>

                </div>
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            <div class="example">
                <form action="" class="form-horizontal">
                    {:token_field()}
                    <input type="hidden" name="id" value="{$findCateResult.id}">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">所属类别</label>
                        <div class="col-sm-8">
                            <select class="form-control m-b" name="pid" id="">
                                <option value="0">顶级</option>
                                <!--{foreach $data as $key => $value}-->
                                <!--{if condition="$findCateResult.id neq $value.id"}-->
                                <!--<option value="{$value.id}" {if condition="$value.id eq $findCateResult.pid"}selected{/if}>{$value.name}</option>-->
                                <!--{/if}-->
                                <!--{/foreach}-->
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">类别名称</label>
                        <div class="col-sm-8">
                            <input name="name" required  type="text" value="{$findCateResult.name}" class="form-control">
                        </div>
                    </div>
                    <!--<div class="form-group draggable">-->
                        <!--<label class="col-sm-2 control-label">类型</label>-->
                        <!--<div class="col-sm-8">-->
                            <!--<label class="radio-inline">-->
                                <!--<input type="radio" checked=""  value="1" {if condition="$findCateResult.type eq 1"}checked{/if}  name="type">单新闻</label>-->
                            <!--<label class="radio-inline">-->
                                <!--<input type="radio" value="2" {if condition="$findCateResult.type eq 2"}checked{/if}  name="type">多新闻</label>-->
                        <!--</div>-->
                    <!--</div>-->
                    <input type="hidden" value="2"  name="type">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">排序</label>
                        <div class="col-sm-8">
                            <input name="order_num" required value="{$findCateResult.order_num}" placeholder="从0开始,越大顺序越靠前,最大999" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-2">
                            <button class="btn btn-primary" type="button"  onclick="save()">保存内容</button>
                            <button class="btn btn-white" type="button" onclick="javascript:history.go(-1)">取消</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
</div>
</div>
</body>
<script>

    var save = function () {
        var formData = new FormData($('form')[0]);
        $.ajax({
            url: "{:url('update')}",
            type: 'post',
            dataType: 'json',
            data: formData,
            processData: false,
            contentType: false,
            success: function (data) {
                if (data.code == 0) {
                    layer.msg(data.msg, {icon: 5})
                } else {
                    layer.msg('修改成功', {icon: 1});
                    setTimeout(function () {
                        window.location.href = "{:url('index')}";
                    }, 600)
                }
            }
        })
    }

</script>