{include file="common/source"}
<script src="__STATIC__/js/plugins/summernote/summernote.min.js"></script>
<script src="__STATIC__/js/plugins/summernote/summernote-zh-CN.js"></script>
<link rel="stylesheet" href="__STATIC__/css/plugins/summernote/summernote.css">
<link rel="stylesheet" href="__STATIC__/css/plugins/summernote/summernote-bs3.css">

<link rel="stylesheet" type="text/css" href="__STATIC__/css/plugins/webuploader/webuploader.css">
<style type="text/css">
    /*上传按钮样式*/
    .file {
        position: relative;
        display: inline-block;
        border-radius: 3px;
    }
    .file input {
        position: absolute;
        font-size: 100px;
        right: 0;
        top: 0;
        opacity: 0;
    }
    .file:hover {
        color: white;
        background: #00a2d4;
    }
</style>
<body class="gray-bg">
<div class="wrapper wrapper-content animated ">
    <div class="row">
<div class="col-sm-12">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>添加新闻 <small></small></h5>

        </div>
        <div class="ibox-content">
            <div class="example">
                <form action="" class="form-horizontal">
                    {:token_field()}
                    <div class="form-group">
                        <label class="col-sm-2 control-label">所属类别</label>
                        <div class="col-sm-8">
                            <select class="form-control m-b" name="cate_id" id="">
                                {foreach $data as $key => $value}
                                <option value="{$value.id}">{$value.name}</option>
                                {/foreach}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">新闻标题</label>
                        <div class="col-sm-8">
                            <input name="title" required  type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">上传封面图</label>
                        <div class="col-sm-8">
                            <a href="javascript:;" class="file webuploader-pick" >选择图片
                                <input type="file"  id="pic" class="btn btn-w-m btn-primary" >
                            </a>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">封面缩略图</label>
                        <div class="col-sm-8">
                            <img style="width: 100px;height: 100px;" id="look">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">内容</label>
                        <div class="col-sm-8">
                            <div class="summernote" style="width: 700px;">

                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">排序</label>
                        <div class="col-sm-8">
                            <input name="sort" required value="0"  placeholder="从0开始,越大顺序越靠前,最大999" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-2">
                            <button class="btn btn-primary" type="button"  onclick="save()">保存内容</button>
                            <button class="btn btn-white" type="button" onclick="javascript:history.go(-1)">取消</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
    </div>
</div>
</body>
<script>
    // 头像缩略图
    $('#pic').change(function() {
        //获取到file的文件
        var docObj = document.getElementById("pic");
        //获取到预览框的文件
        var imgObjPreview = document.getElementById("look");
        //获取到文件名和类型
        if(docObj.files && docObj.files[0]) {
            //console.log(docObj.files)
            //火狐7以上版本不能用上面的getAsDataURL()方式获取，需要一下方式
            imgObjPreview.src = window.URL.createObjectURL(docObj.files[0]);
        }
        return true;
    });


    //文本编辑器的
    $(document).ready(function () {
        $('.summernote').summernote({
            lang: 'zh-CN',
            onImageUpload: function(files, editor, welEditable) {
                uploadSummerPic(files[0], editor, welEditable);
            }
        });

    });

    function uploadSummerPic(file, editor, welEditable) {
        var data = new FormData();
        data.append("file", file);
        $.ajax({
            type:"POST",
            url:"{:url('uploadPic')}",
            data: data,
            cache: false,
            contentType: false,
            processData: false,
            success: function (data) {

                editor.insertImage(welEditable,data.msg);//回显到框内很重要
            },
            error:function(){
                layer.alert('上传失败!');
                return;
            }
        });
    }

    //提交表单的
    var save = function () {
        var formData = new FormData($('form')[0]);
        formData.append('content',$(".summernote").code());
        var  pic = document.getElementById("pic").files[0];
        formData.append('pic',pic);
        $.ajax({
            url: "{:url('save')}",
            type: 'post',
            dataType: 'json',
            data: formData,
            processData: false,
            contentType: false,
            success: function (data) {
                if (data.code == 0) {
                    layer.msg(data.msg, {icon: 5})
                } else {
                    layer.msg('添加成功', {icon: 1});
                    setTimeout(function () {
                        window.location.href = "{:url('index')}";
                    }, 600)
                }
            }
        })
    }

</script>