{include file="common/source"}
<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
    <div class="ibox-content">
        <form action="" class="form-horizontal">
            {:token_field()}
            <div class="form-group">
                <label class="col-sm-2 control-label">所属权限类目</label>
                <div class="col-sm-8">
                    <select class="form-control m-b" name="p_id" id="">
                        <option value="0">顶级</option>
                        {foreach $ruleArr as $key => $value}
                        <option value="{$value.id}">{$value.name}</option>
                        {/foreach}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">权限名称</label>
                <div class="col-sm-8">
                    <input name="name" required  type="text" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">控制器</label>
                <div class="col-sm-8">
                    <input name="controller" required  type="text" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">方法</label>
                <div class="col-sm-8">
                    <input name="action" required type="text" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label"></label>
                <div class="col-sm-5">
                    <button type="button" class="btn btn-w-m btn-success" onclick="save()">添加</button>
                </div>
            </div>
        </form>
    </div>

</div>
</div>
</div>
</body>
<script>
    var save = function () {
        var formData = new FormData($('form')[0]);
        $.ajax({
            url: "{:url('save')}",
            type: 'post',
            dataType: 'json',
            data: formData,
            processData: false,
            contentType: false,
            success: function (data) {
                if (data.code == 0) {
                    layer.msg(data.msg, {icon: 5})
                } else {
                    layer.msg('添加成功', {icon: 1});
                    setTimeout(function () {
                        window.location.href = "{:url('index')}";
                    }, 600)
                }
            }
        })
    }
</script>
