{include file="common/source"}
<link href="__STATIC__/css/plugins/blueimp/css/blueimp-gallery.min.css" rel="stylesheet">

<!--单选框-->
<link href="__STATIC__/css/plugins/iCheck/custom.css" rel="stylesheet">

<!--开关按钮-->
<link href="__STATIC__/css/font-awesome.css?v=4.4.0" rel="stylesheet">

<link href="__STATIC__/css/plugins/iCheck/custom.css" rel="stylesheet">

<link href="__STATIC__/css/plugins/chosen/chosen.css" rel="stylesheet">

<link href="__STATIC__/css/plugins/colorpicker/css/bootstrap-colorpicker.min.css" rel="stylesheet">

<link href="__STATIC__/css/plugins/cropper/cropper.min.css" rel="stylesheet">

<link href="__STATIC__/css/plugins/switchery/switchery.css" rel="stylesheet">

<link href="__STATIC__/css/plugins/jasny/jasny-bootstrap.min.css" rel="stylesheet">

<link href="__STATIC__/css/plugins/nouslider/jquery.nouislider.css" rel="stylesheet">

<link href="__STATIC__/css/plugins/datapicker/datepicker3.css" rel="stylesheet">

<link href="__STATIC__/css/plugins/ionRangeSlider/ion.rangeSlider.css" rel="stylesheet">
<link href="__STATIC__/css/plugins/ionRangeSlider/ion.rangeSlider.skinFlat.css" rel="stylesheet">


<link href="__STATIC__/css/plugins/clockpicker/clockpicker.css" rel="stylesheet">

<link href="__STATIC__/css/animate.css" rel="stylesheet">
<link href="__STATIC__/css/style.css?v=4.1.0" rel="stylesheet">

<script src="__STATIC__/js/plugins/layui/2.5.4/css/layui.css"></script>

<link rel="stylesheet" type="text/css" href="__STATIC__/css/plugins/webuploader/webuploader.css">
<style type="text/css">
    /*上传按钮样式*/
    .file {
        position: relative;
        display: inline-block;
        border-radius: 3px;
    }
    .file input {
        position: absolute;
        font-size: 100px;
        right: 0;
        top: 0;
        opacity: 0;
    }
    .file:hover {
        color: white;
        background: #00a2d4;
    }
</style>

<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox-title">
                <h5>编辑订单 <small></small></h5>

            </div>
            <div class="ibox-content">
                <form action="" class="form-horizontal">
                    {:token_field()}
                    <input type="hidden" name="id" value="{$data.0.o_id}">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">订单号：</label>
                            <div class="col-sm-9">
                                <p class="form-control-static">{$data.0.order_sn}</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">订单状态：</label>
                            <div class="col-sm-9">
                                <p class="form-control-static">
                                    {if condition="$data.0.status eq 0"}
                                    订单关闭
                                    {elseif condition="$data.0.status eq 1"}
                                    预订单
                                    {elseif condition="$data.0.status eq 2"}
                                    正式订单
                                    {elseif condition="$data.0.status eq 3"}
                                    订单完成
                                    {/if}
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">企业名称：</label>
                            <div class="col-sm-9">
                                <p class="form-control-static">{$data.0.user_name}</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">公司电话：</label>
                            <div class="col-sm-9">
                                <p class="form-control-static">{$data.0.user_tel}</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">公司地址：</label>
                            <div class="col-sm-9">
                                <p class="form-control-static">{$data.0.user_province}  {$data.0.user_city}  {$data.0.user_county}  {$data.0.user_address}</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">联系人姓名：</label>
                            <div class="col-sm-9">
                                <p class="form-control-static">{$data.0.user_contact}</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">联系人电话：</label>
                            <div class="col-sm-9">
                                <p class="form-control-static">{$data.0.user_contact_tel}</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">营业执照：</label>
                            <div class="col-sm-9">
                                <p class="form-control-static">
                                <a href="{$data.0.user_bus_license}" title="图片" data-gallery=""><img src="{$data.0.user_bus_license}"  style="max-height: 450px;"></a>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">业务开始时间：</label>
                            <div class="col-sm-9">
                                <p class="form-control-static">{$data.0.yw_start_time|date='Y-m-d'}</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">业务结束时间：</label>
                            <div class="col-sm-9">
                                <p class="form-control-static">{$data.0.yw_end_time|date='Y-m-d'}</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">产品：</label>
                            <div class="col-sm-9">
                                <table class="table table-bordered table-hover text-center fz13">
                                    <thead>
                                    <tr class="text-center">
                                        <th style="text-align: center;">产品名称</th>
                                        <th style="text-align: center;">所属影厅</th>
                                        <th style="text-align: center;">日均价格</th>
                                        <th style="text-align: center;">包月价格</th>
                                        <th style="text-align: center;">包年价格</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {foreach $data as $key => $value}
                                    <tr>
                                        <td style="text-align: center;">{$value.v_product_name}</td>
                                        <td style="text-align: center;">
                                            {if $value.v_screen_name}
                                            {$value.v_screen_name}
                                            {else}
                                            无
                                            {/if}
                                        </td>
                                        <td>{$value.v_price_everyday}</td>
                                        <td>{$value.v_price_month}</td>
                                        <td>{$value.v_price_year}</td>
                                    </tr>
                                    {/foreach}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">合同编号：</label>
                            <div class="col-sm-9">
                                <input type="text" name="agreement_code" class="form-control" placeholder="请输入合同编号" >
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">合同附件：</label>
                            <div class="col-sm-9">
                                <a href="javascript:;" class="file webuploader-pick" >选择附件
                                    <input type="file"  id="pic" class="btn btn-w-m btn-primary" >
                                </a>
                                <span style="display: block" id="look"></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">是否额外费用：</label>
                            <div class="col-sm-9">
                                <!-- 1  是没有额外费用   2 有额外费用-->
                                <input type="hidden" id="extra" name="extra" value="1">
                                <input type="checkbox"  class="js-switch_3" />
                            </div>
                        </div>
                    </div>

                    <div id="level" class="form-group" style="display: none">
                        <label class="col-sm-2 control-label"><a class="btn btn-info" onclick="add_extra()">添加额外费用</a></label>
                        <div class="col-sm-8" id="extra_list" style="margin-top: 7px;">
                            <div class="extra_lv">
                                <input name="extra_name[]" placeholder="费用名称" style="display:inline;width:45%;margin-bottom: 20px;" required  type="text" class="form-control">
                                <input name="extra_price[]" placeholder="费用金额" style="display:inline;width:45%;margin-bottom: 20px;" required  type="text" class="form-control">
                                <a href="javascript:void(0);" onclick="close_extra(this)">
                                    <i class="glyphicon glyphicon-remove"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">产品总金额：</label>
                            <div class="col-sm-9">
                                <input type="text" name="all_price" class="form-control" placeholder="全部的产品价格" >
                            </div>
                        </div>
                    </div>

<!--                    <div class="col-md-12">-->
<!--                        <div class="form-group">-->
<!--                            <label class="col-sm-2 control-label">订单总金额：</label>-->
<!--                            <div class="col-sm-9">-->
<!--                                <input type="text" name="price" class="form-control" placeholder="全部的产品价格+额外费用" >-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->

                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">支付类型：</label>
                            <div class="col-sm-9">
                                <div class="radio i-checks">
                                    <label style="padding-left: 0;">
                                        <input type="radio" value="1" name="pay_type"> <i></i> 线下</label>
                                    <label>
                                    <input type="radio"  value="2" name="pay_type"> <i></i> 线上</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">付款类型：</label>
                            <div class="col-sm-9">
                                <div class="radio i-checks" id="polling-radio-wrap">
                                    <label style="padding-left: 0;">
                                        <input type="radio" value="1" class="i-checks" name="money_type"> <i></i> 全款</label>
                                    <label>
                                    <input type="radio"  value="2" class="i-checks" name="money_type"> <i></i> 分期</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="periods" class="form-group" style="display: none">
                        <label class="col-sm-2 control-label">
                            <a class="btn btn-info" onclick="add_periods()" >添加期数</a>
                            <br>
                            <small class="text-navy">右边是从第一期开始依次往下</small>
                        </label>
                        <div class="col-sm-8" id="periods_list" style="margin-top: 7px;">
                            <div class="periods_lv">
                                <input name="periods_time[]" placeholder="应付时间" id="hello" autocomplete="off" class="laydate-icon form-control layer-date form-control yf_time" style="display:inline;width:45%;margin-bottom: 20px; margin-top: -8px; height: 32px;">
                                <input name="periods_price_bl[]" placeholder="应付金额百分比" style="display:inline;width:45%;margin-bottom: 20px;" required  type="text" class="form-control">%
                                <a href="javascript:void(0);" onclick="close_periods(this)">
                                    <i class="glyphicon glyphicon-remove"></i>
                                </a>
                            </div>
                        </div>
                    </div>



                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-2">
                            <button class="btn btn-primary" type="button"  onclick="save()">保存内容</button>
                            <button class="btn btn-white" type="button" onclick="javascript:history.go(-1)">取消</button>
                        </div>
                    </div>



                </form>
            </div>

        </div>
    </div>
</div>

</body>
<div id="blueimp-gallery" class="blueimp-gallery">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
</div>


<!-- 全局js -->
<script src="__STATIC__/js/jquery.min.js?v=2.1.4"></script>
<script src="__STATIC__/js/bootstrap.min.js?v=3.3.6"></script>

<!-- 自定义js -->
<script src="__STATIC__/js/content.js?v=1.0.0"></script>
<!-- Chosen -->
<script src="__STATIC__/js/plugins/chosen/chosen.jquery.js"></script>

<!-- JSKnob -->
<script src="__STATIC__/js/plugins/jsKnob/jquery.knob.js"></script>

<!-- Input Mask-->
<script src="__STATIC__/js/plugins/jasny/jasny-bootstrap.min.js"></script>

<!-- Data picker -->
<script src="__STATIC__/js/plugins/datapicker/bootstrap-datepicker.js"></script>

<!-- Prettyfile -->
<script src="__STATIC__/js/plugins/prettyfile/bootstrap-prettyfile.js"></script>

<!-- NouSlider -->
<script src="__STATIC__/js/plugins/nouslider/jquery.nouislider.min.js"></script>

<!-- Switchery -->
<script src="__STATIC__/js/plugins/switchery/switchery.js"></script>

<!-- IonRangeSlider -->
<script src="__STATIC__/js/plugins/ionRangeSlider/ion.rangeSlider.min.js"></script>

<!-- iCheck -->
<script src="__STATIC__/js/plugins/iCheck/icheck.min.js"></script>

<!-- MENU -->
<script src="__STATIC__/js/plugins/metisMenu/jquery.metisMenu.js"></script>

<!-- Color picker -->
<script src="__STATIC__/js/plugins/colorpicker/bootstrap-colorpicker.min.js"></script>

<!-- Clock picker -->
<script src="__STATIC__/js/plugins/clockpicker/clockpicker.js"></script>

<!-- Image cropper -->
<script src="__STATIC__/js/plugins/cropper/cropper.min.js"></script>

<script src="__STATIC__/js/demo/form-advanced-demo.js"></script>

<!-- iCheck -->
<script src="__STATIC__/js/plugins/iCheck/icheck.min.js"></script>

<!--单选按钮-->
<script src="__STATIC__/js/plugins/blueimp/jquery.blueimp-gallery.min.js"></script>
<script src="__STATIC__/js/plugins/iCheck/icheck.min.js"></script>
<script>
    $(document).ready(function () {
        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green',
        });
    });
</script>
<!--时间插件-->
<script src="__STATIC__/js/plugins/layer/laydate/laydate.js"></script>
<script src="__STATIC__/js/plugins/layui/2.5.4/layui.js"></script>
<script>
    // 时间插件
    function layda()
    {
        layui.use('laydate',function () {
            var laydate = layui.laydate;
            $('.yf_time').each(function(){
                laydate.render({
                    elem: this,
                    trigger: 'click'
                });
            });
        })
    }
    layda();



    //日期范围限制
    var start = {
        elem: '#start',
        format: 'YYYY/MM/DD hh:mm:ss',
        min: laydate.now(), //设定最小日期为当前日期
        max: '2099-06-16 23:59:59', //最大日期
        istime: true,
        istoday: false,
        choose: function (datas) {
            end.min = datas; //开始日选好后，重置结束日的最小日期
            end.start = datas //将结束日的初始值设定为开始日
        }
    };
    var end = {
        elem: '#end',
        format: 'YYYY/MM/DD hh:mm:ss',
        min: laydate.now(),
        max: '2099-06-16 23:59:59',
        istime: true,
        istoday: false,
        choose: function (datas) {
            start.max = datas; //结束日选好后，重置开始日的最大日期
            changeSearch();
        }
    };
    laydate(start);
    laydate(end);
</script>
<script>

    // 头像缩略图
    $('#pic').change(function() {
        //获取到file的文件
        var docObj = document.getElementById("pic");
        //获取到预览框的文件
        var imgObjPreview = document.getElementById("look");
        //获取到文件名和类型s
        if(docObj.files && docObj.files[0]) {
            //console.log(docObj.files)
            //火狐7以上版本不能用上面的getAsDataURL()方式获取，需要一下方式
            // imgObjPreview.src = window.URL.createObjectURL(docObj.files[0]['name']);
            $("#look").text(docObj.files[0]['name']);
        }
        return true;
    });

    var save = function () {
        var formData = new FormData($('form')[0]);
        var  pic = document.getElementById("pic").files[0];
        formData.append('pic',pic);
        $.ajax({
            url: "{:url('update')}",
            type: 'post',
            dataType: 'json',
            data: formData,
            processData: false,
            contentType: false,
            success: function (data) {
                console.log(data);
                if (data.code == 0) {
                    layer.msg(data.msg, {icon: 5})
                } else {
                    layer.msg('保存成功', {icon: 1});
                    setTimeout(function () {
                        window.location.href = "{:url('index')}";
                    }, 600)
                }
            }
        })
    }

    $(".js-switch_3").change(function () {
        var val = $("#extra").val();
        if(val==1){
            $("#level").show();
            $("#extra").val('2');
        }else{
            $("#level").hide();
            $("#extra").val('1');
        }
    })

    // 添加额外费用
    var add_extra = function(){

        var html = '<div class="extra_lv">' +
            '                        <input name="extra_name[]" placeholder="费用名称" style="display:inline;width:45%;margin-bottom: 20px;" value="" required  type="text" class="form-control">' +
            '                        <input name="extra_price[]" placeholder="费用金额" style="display:inline;width:45%;margin-bottom: 20px;" value="" required  type="text" class="form-control">' +
            '                        <a href="javascript:void(0);" onclick="close_extra(this)">' +
            '                                <i class="glyphicon glyphicon-remove"></i>' +
            '                            </a>' +
            '                    </div>'

        $('#extra_list').append(html)
        return false;
    }
    var close_extra = function(_this){
        $(_this).parents('.extra_lv').remove();
    }

    //选择付款类型
    $('#polling-radio-wrap input.i-checks').on('ifClicked',function(event){     //格式
        var _this =event.target;   //1.js中事件是会冒泡的，所以this是可以变化的，但event.target不会变化，它永远指向触发事件的DOM元素本身；2.this和event.target都是dom对象，使用jQuey中的方法可以将他们转换为jquery对象：$(this)和$(event.target).

        var val = $(_this).val();     //value 的值
        if(val==1){  //全款
            $("#periods").hide();
        }else if(val==2){  //分期
            $("#periods").show();

        }
    });

    // 添加分期
    var add_periods = function(){

        var $elements = $('#periods .periods_lv');
        var len = $elements.length;
        if(len>=3){
            layer.msg('暂时最多可以分3期');
            return false;
        }

        var html = '<div class="periods_lv" >' +
            '                        <input name="periods_time[]" placeholder="应付时间" id="hello" autocomplete="off" class="laydate-icon form-control layer-date form-control yf_time" style="display:inline;width:45%;margin-bottom: 20px; margin-top: -8px; height: 32px;">' +
            '                        <input name="periods_price_bl[]" placeholder="应付金额百分比" style="display:inline;width:45%;margin-bottom: 20px;" value="" required  type="text" class="form-control">%' +
            '                        <a href="javascript:void(0);" onclick="close_periods(this)">' +
            '                                <i class="glyphicon glyphicon-remove"></i>' +
            '                            </a>' +
            '                    </div>'

        $('#periods_list').append(html)
        layda();
        return false;
    }
    var close_periods = function(_this){
        $(_this).parents('.periods_lv').remove();
    }
</script>
