{include file="common/source"}
<link href="__STATIC__/css/plugins/blueimp/css/blueimp-gallery.min.css" rel="stylesheet">

<!--单选框-->
<link href="__STATIC__/css/plugins/iCheck/custom.css" rel="stylesheet">

<!--开关按钮-->
<link href="__STATIC__/css/font-awesome.css?v=4.4.0" rel="stylesheet">

<link href="__STATIC__/css/plugins/iCheck/custom.css" rel="stylesheet">

<link href="__STATIC__/css/plugins/chosen/chosen.css" rel="stylesheet">

<link href="__STATIC__/css/plugins/colorpicker/css/bootstrap-colorpicker.min.css" rel="stylesheet">

<link href="__STATIC__/css/plugins/cropper/cropper.min.css" rel="stylesheet">

<link href="__STATIC__/css/plugins/switchery/switchery.css" rel="stylesheet">

<link href="__STATIC__/css/plugins/jasny/jasny-bootstrap.min.css" rel="stylesheet">

<link href="__STATIC__/css/plugins/nouslider/jquery.nouislider.css" rel="stylesheet">

<link href="__STATIC__/css/plugins/datapicker/datepicker3.css" rel="stylesheet">

<link href="__STATIC__/css/plugins/ionRangeSlider/ion.rangeSlider.css" rel="stylesheet">
<link href="__STATIC__/css/plugins/ionRangeSlider/ion.rangeSlider.skinFlat.css" rel="stylesheet">


<link href="__STATIC__/css/plugins/clockpicker/clockpicker.css" rel="stylesheet">

<link href="__STATIC__/css/animate.css" rel="stylesheet">
<link href="__STATIC__/css/style.css?v=4.1.0" rel="stylesheet">

<script src="__STATIC__/js/plugins/layui/2.5.4/css/layui.css"></script>

<link rel="stylesheet" type="text/css" href="__STATIC__/css/plugins/webuploader/webuploader.css">
<style type="text/css">
    /*上传按钮样式*/
    .file {
        position: relative;
        display: inline-block;
        border-radius: 3px;
    }
    .file input {
        position: absolute;
        font-size: 100px;
        right: 0;
        top: 0;
        opacity: 0;
    }
    .file:hover {
        color: white;
        background: #00a2d4;
    }
</style>

<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox-title">
                <h5>编辑订单 <small></small></h5>

            </div>
            <div class="ibox-content">
                <form action="" class="form-horizontal">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">订单号：</label>
                            <div class="col-sm-9">
                                <p class="form-control-static">{$data.0.order_sn}</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">订单状态：</label>
                            <div class="col-sm-9">
                                <p class="form-control-static">
                                    {if condition="$data.0.status eq 0"}
                                    订单关闭
                                    {elseif condition="$data.0.status eq 1"}
                                    预订单
                                    {elseif condition="$data.0.status eq 2"}
                                    正式订单
                                    {elseif condition="$data.0.status eq 3"}
                                    订单完成
                                    {/if}
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">企业名称：</label>
                            <div class="col-sm-9">
                                <p class="form-control-static">{$data.0.user_name}</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">公司电话：</label>
                            <div class="col-sm-9">
                                <p class="form-control-static">{$data.0.user_tel}</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">公司地址：</label>
                            <div class="col-sm-9">
                                <p class="form-control-static">{$data.0.user_province}  {$data.0.user_city}  {$data.0.user_county}  {$data.0.user_address}</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">联系人姓名：</label>
                            <div class="col-sm-9">
                                <p class="form-control-static">{$data.0.user_contact}</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">联系人电话：</label>
                            <div class="col-sm-9">
                                <p class="form-control-static">{$data.0.user_contact_tel}</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">营业执照：</label>
                            <div class="col-sm-9">
                                <p class="form-control-static">
                                    <a href="{$data.0.user_bus_license}" title="图片" data-gallery=""><img src="{$data.0.user_bus_license}"  style="max-height: 450px;"></a>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">业务开始时间：</label>
                            <div class="col-sm-9">
                                <p class="form-control-static">{$data.0.yw_start_time|date='Y-m-d'}</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">业务结束时间：</label>
                            <div class="col-sm-9">
                                <p class="form-control-static">{$data.0.yw_end_time|date='Y-m-d'}</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">产品：</label>
                            <div class="col-sm-9">
                                <table class="table table-bordered table-hover text-center fz13">
                                    <thead>
                                    <tr class="text-center">
                                        <th style="text-align: center;">产品名称</th>
                                        <th style="text-align: center;">所属影厅</th>
                                        <th style="text-align: center;">日均价格</th>
                                        <th style="text-align: center;">包月价格</th>
                                        <th style="text-align: center;">包年价格</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {foreach $data as $key => $value}
                                    <tr>
                                        <td style="text-align: center;">{$value.v_product_name}</td>
                                        <td style="text-align: center;">
                                            {if $value.v_screen_name}
                                            {$value.v_screen_name}
                                            {else}
                                            无
                                            {/if}
                                        </td>
                                        <td>{$value.v_price_everyday}</td>
                                        <td>{$value.v_price_month}</td>
                                        <td>{$value.v_price_year}</td>
                                    </tr>
                                    {/foreach}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">合同编号：</label>
                            <div class="col-sm-9">
                                <p class="form-control-static">{$data.0.agreement_code}</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">合同附件：</label>
                            <div class="col-sm-9">
                                <a href="合同附件" download="{$data.0.agreement}"  class="file webuploader-pick" >下载附件

                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">是否额外费用：</label>
                            <div class="col-sm-9">
                                <p class="form-control-static">
                                    {if !empty($otherPayRes)}
                                    有
                                    {else}
                                    无
                                    {/if}
                                </p>
                            </div>
                        </div>
                    </div>

                    {if !empty($otherPayRes)}
                    <div class="col-md-12">
                        <div class="form-group" >
                            <label class="col-sm-2 control-label">额外费用：</label>
                            <div class="col-sm-9">
                                <table class="table table-bordered table-hover text-center fz13">
                                    <thead>
                                    <tr class="text-center">
                                        <th style="text-align: center;">费用名称</th>
                                        <th style="text-align: center;">费用金额</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {foreach $otherPayRes as $otherPayResKey=>$otherPayResValue}
                                    <tr>
                                        <td style="text-align: center;">{$otherPayResValue.name}</td>
                                        <td style="text-align: center;">{$otherPayResValue.price}</td>
                                    </tr>
                                    {/foreach}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    {/if}

                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">产品总金额：</label>
                            <div class="col-sm-9">
                                <p class="form-control-static">{$data.0.all_price}</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">订单总金额：</label>
                            <div class="col-sm-9">
                                <p class="form-control-static">{$data.0.price}</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">支付类型：</label>
                            <div class="col-sm-9">
                                <p class="form-control-static">
                                    {if condition="$data.0.pay_type eq 1"}
                                    线下
                                    {elseif condition="$data.0.pay_type eq 2"}
                                    线上
                                    {/if}
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">付款类型：</label>
                            <div class="col-sm-9">
                                <p class="form-control-static">
                                    {if condition="$data.0.money_type eq 1"}
                                    全款
                                    {elseif condition="$data.0.money_type eq 2"}
                                    分期
                                    {/if}
                                </p>
                            </div>
                        </div>
                    </div>


                    {if condition="$data.0.money_type eq 2"}

                        <div class="form-group" >
                            <label class="col-sm-2 control-label">
                                期数：
                            </label>

                            <div class="col-sm-9">
                                <table class="table table-bordered table-hover text-center fz13">
                                    <thead>
                                    <tr class="text-center">
                                        <th style="text-align: center;">期数</th>
                                        <th style="text-align: center;">应付时间</th>
                                        <th style="text-align: center;">应付金额</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {foreach $stagesRes as $stagesResKey=>$stagesResValue}
                                    <tr>
                                        <td style="text-align: center;">第{$stagesResValue.number}期</td>
                                        <td style="text-align: center;">{$stagesResValue.pay_time|date='Y-m-d'}</td>
                                        <td style="text-align: center;">{$stagesResValue.pay_price}</td>
                                    </tr>
                                    {/foreach}
                                    </tbody>
                                </table>
                            </div>

                        </div>

                    {/if}

                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-2">
                            <button class="btn btn-white" type="button" onclick="javascript:history.go(-1)">取消</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

</body>
<div id="blueimp-gallery" class="blueimp-gallery">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
</div>


<!-- 全局js -->
<script src="__STATIC__/js/jquery.min.js?v=2.1.4"></script>
<script src="__STATIC__/js/bootstrap.min.js?v=3.3.6"></script>

<!-- 自定义js -->
<script src="__STATIC__/js/content.js?v=1.0.0"></script>
<!-- Chosen -->
<script src="__STATIC__/js/plugins/chosen/chosen.jquery.js"></script>



<script src="__STATIC__/js/demo/form-advanced-demo.js"></script>

<!-- iCheck -->
<script src="__STATIC__/js/plugins/iCheck/icheck.min.js"></script>

<!--单选按钮-->
<script src="__STATIC__/js/plugins/blueimp/jquery.blueimp-gallery.min.js"></script>
<script src="__STATIC__/js/plugins/iCheck/icheck.min.js"></script>
<script>
    $(document).ready(function () {
        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green',
        });
    });
</script>

