{include file="common/source"}
<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox-title">
                    <h5>添加地区级别 <small></small></h5>

                </div>
    <div class="ibox-content">
        <form action="" class="form-horizontal">
            {:token_field()}
            <div class="form-group">
                <label class="col-sm-2 control-label">级别名称</label>
                <div class="col-sm-8">
                    <input name="name" required  type="text" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">排序</label>
                <div class="col-sm-8">
                    <input name="order_num" required value="0" placeholder="从0开始,越大级别越高,最大999" type="text" class="form-control">
                </div>
            </div>
            <div id="level" class="form-group">
                <label class="col-sm-2 control-label"><a class="btn btn-info" onclick="add_level()">添加选项</a></label>
                <div class="col-sm-8" id="level_list">
                    <div class="lv">
                        <input name="attr_value[]" placeholder="选项名称" style="display:inline;width:45%;margin-bottom: 20px;" required  type="text" class="form-control">
                        <input name="attr_order[]" value="0" placeholder="选项排序" style="display:inline;width:45%;margin-bottom: 20px;" required  type="text" class="form-control">
                        <a href="javascript:void(0);" onclick="close_level(this)">
                                <i class="glyphicon glyphicon-remove"></i>
                            </a>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 col-sm-offset-2">
                    <button class="btn btn-primary" type="button"  onclick="save()">保存内容</button>
                    <button class="btn btn-white" type="button" onclick="javascript:history.go(-1)">取消</button>
                </div>
            </div>
        </form>
    </div>

</div>
</div>
</div>
</body>
<script>

    var add_level = function(){

        var html = '<div class="lv">' +
            '                        <input name="attr_value[]" placeholder="选项名称" style="display:inline;width:45%;margin-bottom: 20px;" value="" required  type="text" class="form-control">' +
            '                        <input name="attr_order[]" placeholder="选项排序" style="display:inline;width:45%;margin-bottom: 20px;" value="0" required  type="text" class="form-control">' +
            '                        <a href="javascript:void(0);" onclick="close_level(this)">' +
            '                                <i class="glyphicon glyphicon-remove"></i>' +
            '                            </a>' +
            '                    </div>'

        $('#level_list').append(html)
        return false;
    }
    var close_level = function(_this){
        $(_this).parents('.lv').remove();
    }
    var save = function () {
        var formData = new FormData($('form')[0]);

        $.ajax({
            url: "{:url('save')}",
            type: 'post',
            dataType: 'json',
            data: formData,
            processData: false,
            contentType: false,
            success: function (data) {
                if (data.code == 0) {
                    layer.msg(data.msg, {icon: 5})
                } else {
                    layer.msg('添加成功', {icon: 1});
                    setTimeout(function () {
                        window.location.href = "{:url('index')}";
                    }, 600)
                }
            }
        })
    }
</script>
