<div style="
    overflow: hidden;
">

    <input type="hidden" name="id" value="{$data.id ?? 0}">
    <input type="hidden" name="product_id" value="{$product_id}">
    <div class="form-group">
        <label class="col-sm-2 control-label">当前状态</label>
        <div class="col-sm-8 status">
            {if isset($data)}
            {if $data.status == 1}
            <a href="javascript:void(0);" onclick="checkStatus(this,2,'{$data.id}')">
                <p style="margin-top: 5px;"><span class="label label-info">上架</span></p>
            </a>
            {else}
            <a href="javascript:void(0);" onclick="checkStatus(this,1,'{$data.id}')">
                <p style="margin-top: 5px;"><span class="label label-danger">下架</span></p>
            </a>
            {/if}
            {/if}
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">名称</label>
        <div class="col-sm-8">
            <input name="entity_name" value="{$data.entity_name ?? ''}" required type="text" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">包月价格</label>
        <div class="col-sm-8">
            <input name="price_month" value="{$data.price_month ?? ''}" required type="text" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">包年价格</label>
        <div class="col-sm-8">
            <input name="price_year" value="{$data.price_year ?? ''}" required type="text" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">产品排序</label>
        <div class="col-sm-8">
            <input name="sort" value="{$data.sort ?? 0}" required type="text" class="form-control">
        </div>
    </div>
</div>
<style>


    .form-group {
        margin-bottom: 15px;
        overflow: hidden;
    }
</style>
<div class="container"></div>
<script>
        removeEntity = function(){
        //获取entityid

        var id = $('input[name=id]').val();

        if (id == 0){
            layer.msg('没有数据可被删除')
            return false;
        }

        $.ajax({
            url:"{:url('entityDelete')}",
            type:'post',
            dataType:'json',
            data:{
                id : id,
            },
            success:function(data){
                if (data.code == 0){
                    layer.msg(data.msg, {icon: 5})

                }else{
                    layer.msg('操作成功', {icon: 1})
                    setTimeout(function(){
                        window.location.reload()
                    },700)
                }

            }

        })
    }

    checkStatus = function(_this,change_status,id) {
        $.ajax({
            url: "{:url('changeEntityStatus')}",
            type: 'post',
            dataType: 'json',
            data:{
                id : id,
                status : change_status,
            },
            success: function (data) {
                if (data.code == 0) {
                    layer.msg(data.msg,{icon: 5})
                } else {
                    layer.msg('修改成功')
                    let str = ``
                    if (change_status == 1){
                        str = `<a href="javascript:void(0);" onclick="checkStatus(this,2,${id})">
                                <p style="margin-top: 5px;"><span class="label label-info">上架</span></p>
                            </a>`
                    } else{
                        str = `<a href="javascript:void(0);" onclick="checkStatus(this,1,'${id}')">
                                <p style="margin-top: 5px;"><span class="label label-danger">下架</span></p>
                            </a>`
                    }
                    $(_this).parents('.status').html(str)
                }
            }
        })
    }

    var date = new Date();
    var d = new Date()
    d.setMonth(d.getMonth() + 18); //结束日期
    // 生成模拟数据
    var MOCK_DATA = createMockData();
    // console.log(MOCK_DATA)
    // 日历设置表单字段配置
    // key 字段名
    // name 表单label
    // value 默认值
    // placeholder input[placeholder]
    var calendarConfig = [{
        key: 'dayPrice',
        name: '日价格',
        type: 'number',
        placeholder: '请输入日价格'
    }
        // ,
        //
        // {
        //     key: 'monthPrice',
        //     name: '月价格',
        //     type: 'number',
        //     placeholder: '请输入月价格'
        // },
        // {
        //     key: 'yearPrice',
        //     name: '年价格',
        //     type: 'number',
        //     placeholder: '请输入年价格'
        // }
    ]

    // 日历中显示配置
    var showConfig = [{
        key: 'dayPrice',
        name: '日:￥'
    }
        // ,
        // {
        //     key: 'monthPrice',
        //     name: '月:￥'
        // },
        // {
        //     key: 'yearPrice',
        //     name: '年:￥'
        // }
    ]

    // 样式颜色配置
    var styleConfig = {
        // 头部背景色
        headerBgColor: '#098cc2',
        // 头部文字颜色
        headerTextColor: '#fff',
        // 周一至周日背景色，及文字颜色
        weekBgColor: '#098cc2',
        weekTextColor: '#fff',
        // 周末背景色，及文字颜色
        weekendBgColor: '#098cc2',
        weekendTextColor: '#fff',
        // 有效日期颜色
        validDateTextColor: '#333',
        validDateBgColor: '#fff',
        validDateBorderColor: '#eee',
        // Hover
        validDateHoverBgColor: '#098cc2',
        validDateHoverTextColor: '#fff',
        // 无效日期颜色
        invalidDateTextColor: '#ccc',
        invalidDateBgColor: '#fff',
        invalidDateBorderColor: '#eee',
        // 底部背景颜色
        footerBgColor: '#fff',
        // 重置按钮颜色
        resetBtnBgColor: '#77c351',
        resetBtnTextColor: '#fff',
        resetBtnHoverBgColor: '#55b526',
        resetBtnHoverTextColor: '#fff',
        // 确定按钮
        confirmBtnBgColor: '#098cc2',
        confirmBtnTextColor: '#fff',
        confirmBtnHoverBgColor: '#00649a',
        confirmBtnHoverTextColor: '#fff',
        // 取消按钮
        cancelBtnBgColor: '#fff',
        cancelBtnBorderColor: '#bbb',
        cancelBtnTextColor: '#999',
        cancelBtnHoverBgColor: '#fff',
        cancelBtnHoverBorderColor: '#bbb',
        cancelBtnHoverTextColor: '#666'
    }
    {if isset($data.price_json)}
    var str = {:json_encode($data.price_json,256)};
    {/if}
    // 初始化日历
    var zxCalendar = $.CalendarPrice({
        el: '.container',
        startDate: dateFormat("YYYY-mm-dd", date),
        endDate: dateFormat("YYYY-mm-dd", d),
        {if isset($data.price_json)}
        data: JSON.parse(str),
        {/if}
        // 配置需要设置的字段名称
        config: calendarConfig,
        // 配置在日历中要显示的字段
        show: showConfig,
        // 自定义颜色
        style: styleConfig
    });

    // 监听设置表单提交
    // 将阻止默认流程执行
    // 继续执行默认流程，请执行参数next()
    zxCalendar.$on('submit-form', function (data, next) {
        // data 设置的数据
        console.log('$(submit-form)表单数据 ================')
        console.log(data)

        // 此处可以验证表单
        // 验证表单逻辑....
        // ....

        // 继续执行下一步
        next()
    })

    // 执行过程中错误回调
    zxCalendar.$on('error', function (err) {
        // 执行中的错误提示
        console.error('$on(error)Error:')
        console.log(err)
        alert(err.msg);
    })

    // 切换月份
    zxCalendar.$on('month-change', function (data) {
        console.log(data);
    })

    // 点击有效的某一天通知
    zxCalendar.$on('valid-day', function (day, data, next) {
        console.log(data);

        // 继续执行默认流程
        next();
    })

    // 设置数据变化
    zxCalendar.$on('setup-value-change', function (data) {
        console.log(data);
        // 取消设置
        // 这里可以触发关闭设置窗口
    })

    // 点击重置按钮回调
    zxCalendar.$on('reset', function () {
        console.log('$on(reset)数据重置成功！');
    })

    // 点击确定按钮回调，返回当前设置数据
    zxCalendar.$on('confirm', function (data) {
        console.log('$on(confirm)点击确定按钮通知！');
        // console.log(data);

        var list = JSON.stringify(data);

        console.log(list)
        var formData = new FormData();

        var id= $('input[name=id]').val();
        var name= $('input[name=entity_name]').val();
        var price_month= $('input[name=price_month]').val();
        var price_year= $('input[name=price_year]').val();
        var sort= $('input[name=sort]').val();


        formData.append('id',id);
        formData.append('entity_name',name);
        formData.append('price_month',price_month);
        formData.append('price_year',price_year);
        formData.append('price_day',list);
        formData.append('sort',sort);
        formData.append('product_id',$('input[name=product_id]').val());

        $.ajax({
            url:"{:url('entitySave')}",
            data:formData,
            type:'post',
            dataType:'json',
            processData:false,
            contentType:false,
            success:function(data){
                if (data.code == 0){
                    layer.msg(data.msg, {icon: 5})

                }else{
                    layer.msg('操作成功', {icon: 1})
                    setTimeout(function(){
                        window.location.reload()
                    },700)
                }
            }
        })
    })

    // 点击取消按钮回调
    zxCalendar.$on('cancel', function () {
        console.log('$on(cancel)取消设置 ....');
        // 取消设置
        // 这里可以触发关闭设置窗口
    })

    $(function () {

    });

    function dateFormat(fmt, date) { //格式化时间
        let ret;
        let opt = {
            "Y+": date.getFullYear().toString(), // 年
            "m+": (date.getMonth() + 1).toString(), // 月
            "d+": date.getDate().toString(), // 日
            "H+": date.getHours().toString(), // 时
            "M+": date.getMinutes().toString(), // 分
            "S+": date.getSeconds().toString() // 秒
            // 有其他格式化字符需求可以继续添加，必须转化成字符串
        };
        for (let k in opt) {
            ret = new RegExp("(" + k + ")").exec(fmt);
            if (ret) {
                fmt = fmt.replace(ret[1], (ret[1].length == 1) ? (opt[k]) : (opt[k].padStart(ret[1].length, "0")))
            }
            ;
        }
        ;
        return fmt;
    };

    $(function () {
        $(".calendar-foot-wrapper").remove();
    })
</script>