{include file="common/source"}
<script src="__STATIC__/js/plugins/treeview/bootstrap-treeview.js"></script>

<script src="__STATIC__/js/plugins/summernote/summernote.min.js"></script>
<script src="__STATIC__/js/plugins/summernote/summernote-zh-CN.js"></script>
<link rel="stylesheet" href="__STATIC__/css/plugins/summernote/summernote.css">
<link rel="stylesheet" href="__STATIC__/css/plugins/summernote/summernote-bs3.css">

<!--<script src="__STATIC__/plugins/date/js/jquery-1.12.4.min.js"></script>-->
<script src="__STATIC__/plugins/date/js/mock-data.js"></script>
<script src="__STATIC__/plugins/date/js/calendar-price-jquery.js"></script>
<link rel="stylesheet" href="__STATIC__/plugins/date/css/calendar-price-jquery.min.css">

<!--<script src="__STATIC__/js/demo/treeview-demo.js"></script>-->
<div class="col-sm-12">
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            <div class="col-sm-2">
                <div class="">
                    <div id="treeview1" class="test"></div>
                </div>
            </div>
            <div class="col-sm-10" id="container">

            </div>

        </div>
    </div>
</div>
<script>

    function getHtml (id)
    {
        $.ajax({
            url:"{:url('getEntityHtml')}",
            data:{
                id : id,
                product_id : {$id},
                group_code : {$group_code},
            },
            type:'post',
            dataType:'html',
            success:function(data) {
                // console.log(data)
                $('#container').html(data)
            }
        })
    }

    $(function(){
        $.ajax({
            url:"{:url('getEntityList')}",
            type:'post',
            data:{
                id : "{$id}",
                group_code : {$group_code},
            },
            dataType:'json',
            success:function(data)
            {
                var defaultData = [];

                $(data.data).each(function(k,v){
                    defaultData.push({
                        text: v.entity_name,
                        href: '#parent1',
                        // tags: ['4'],
                        id : v.id,
                    })
                })

                $('#treeview1').treeview({
                    data: defaultData,
                    onNodeSelected: function(event, data) {
                        console.log(data)
                        getHtml(data.id)
                    }
                });

                console.log(data);
            }
        })

    })


    var removeArticle = function (_this, article_id) {
        $.ajax({
            url: "{:url('delete')}",
            type: 'post',
            dataType: 'json',
            data:{
                cate_id : article_id,
            },
            success: function (data) {
                console.log(data)
                if (data.code == 0) {
                    layer.msg(data.msg,{icon: 5})
                } else {
                    layer.msg('删除成功',{icon : 1})
                    $(_this).parents('tr').remove();
                }

            }
        })
    }
</script>